__pycache__
.vscode/launch.json
.ipynb_checkpoints
*.json
Untitled*
obrisi.py
list_plot_razvoj.py
mosh_debuging_example.py
prekopirane_fje_prepravka.py
list_plot_razvoj_prepravka.py
test_file_prepravka.py
NS_Test_Model_1H.inp
NS_Test_Model_1H.rpt
lista_svih_funkcija.txt
object_ids.txt
pupms_ids.txt
How to Create & Publish Project to GitHub repository.txt
